---
layout: templates/base.html
title: Accessibility features of Helperbird - Helperbird
description: Here at the 25 features that make Helperbird the best in class for helping everyone be more productive and make the web more accessible.
keywords: Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
featureTitle: Adjust Letters and Words
url: /features/
---



<div class="relative pt-16 pb-16 overflow-hidden sm:pt-18 lg:pt-32">
	<div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
		<div>
			<h2 class="mt-2 text-5xl font-extrabold text-gray-900 tracking-tight">Helperbird features</h2>
			<p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">Helperbird is more than just a accessibility tool — it’s a better way to be more productive. Users that switch to Helperbird are more productive and better organized thanks to our accessibility features.</p>
		</div>
	</div>
</div>




<div>
	<div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-18 sm:pb-18 lg:max-w-7xl lg:pt-18 lg:px-8">

				<h2 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight">Popular features</h2>
	
	
	  <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
		
	
		{%- for feature in features.popular  limit:3   -%}
		<div class="bg-gray-50 rounded-lg p-6 dark:bg-gray-800 dark:highlight-white/5 bg-secondary text-white">
		  <div>
			<span class="flex items-center justify-center h-12 w-12 rounded-md">
		

			
			 
		
		
			  {{  feature.icon | svgContents  | safe }}
			</span>
		  </div>
		  <div class="mt-6">
			<h3 class="text-xl font-medium text-white">{{ feature.title }}</h3>
			<p class="mt-2 text-base text-white">
				{{ feature.description }}
			</p>

			<a class="mt-6 btn btn-primary" href="{{ feature.link }}" title="More information on feature {{ feature.title  }}">Learn more</a> 
		  </div>
		</div>
		{%- endfor -%}


	</div>
</div>
</div>

<div>
	<div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-18 sm:pb-18 lg:max-w-7xl lg:pt-18 lg:px-8">
	

				<h2 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight">All features</h2>


	
	  <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
		

		{%- for feature in features.features -%}
		<div class="bg-gray-50 rounded-lg p-6 dark:bg-gray-800 dark:highlight-white/5">
		  <div>
			<span class="flex items-center justify-center h-12 w-12 rounded-md">
			  {{  feature.icon | svgContents  | safe }}
			</span>
		  </div>
		  <div class="mt-6">
			<h3 class="text-lg font-medium text-black">{{ feature.title }}</h3>
			<p class="mt-2 text-base text-black">
				{{ feature.description }}
			</p>

			<a class="mt-6 btn btn-secondary" href="{{ feature.link }}" title="More information on feature {{ feature.title  }}">Learn more</a> 
		  </div>
		</div>
		{%- endfor -%}

  

  

  
	
  
	
	
	  </div>
	</div>
  </div>
  








