---
new: true
header: true
layout: templates/base.html
title: Helperbird Blog | Research, Announcements, Customer stories
youtubeId: PfILiWebkuc
cardTitle: Helperbird's Blog
description: Discover all the latest about our products, research, announcements, customer stories, and Helperbird culture on our official blog
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for Chrome, Text to speech for Chrome, text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome, OpenDyslexic
url: blog/
---



<div class="bg-white rounded-2xl shadow-md px-6 py-24 lg:px-8">
  <div class="mx-auto max-w-3xl text-center">
    <h2 class="leading-relaxed font-sans text-3xl font-bold text-black sm:text-5xl">From the blog</h2>
    <p class="leading-relaxed font-sans mt-4 text-base sm:text-xl text-black">Read our thoughts on Helperbird, Ed tech and more from the Helperbird team.</p>
  </div>
</div>



<div class="mx-auto  grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none md:grid-cols-3 lg:grid-cols-4 mt-16 mb-16 ">

  {%- for post in collections.blog -%}

    <div class="card bg-white rounded-xl overflow-hidden flex flex-col">
      <figure class="p-4">
          <img src="{{ post.data.img }}" alt="{{ post.data.cardTitle }}"
               class="aspect-[16/9] w-full rounded-xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]" />
      </figure>
      <div class="card-body tw-p-4 flex flex-col flex-grow">
          <h3 class="card-title font-bold">{{ post.data.cardTitle }}</h3>
          <div class="badge badge-secondary">{{ post.data.blog_cat }}</div>
          <p class="my-6 text-base text-black overflow-hidden line-clamp-3 mb-4 mt-4">{{ post.data.blog_snip }}</p>
    
              <div class="card-actions justify-end mt-4">
                  <a href="{{ post.url }}" title="{{ post.data.cardTitle }}"
                     class="link link-hover text-blue-500 hover:text-blue-700">Read blog</a>
              </div>
   
      </div>
  </div>
    


  {%- endfor -%}



</div>



<section class="rounded-xl shadow-md bg-white px-6 py-24 sm:py-32 lg:px-8 mt-16 mb-16 ">
  <figure class="mx-auto max-w-2xl">
    <p class="sr-only">5 out of 5 stars</p>
    <div class="flex gap-x-1 text-blue-600">
      <svg
        class="h-5 w-5 flex-none"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true">
        <path
          fill-rule="evenodd"
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
          clip-rule="evenodd" />
      </svg>
      <svg
        class="h-5 w-5 flex-none"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true">
        <path
          fill-rule="evenodd"
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
          clip-rule="evenodd" />
      </svg>
      <svg
        class="h-5 w-5 flex-none"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true">
        <path
          fill-rule="evenodd"
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
          clip-rule="evenodd" />
      </svg>
      <svg
        class="h-5 w-5 flex-none"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true">
        <path
          fill-rule="evenodd"
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
          clip-rule="evenodd" />
      </svg>
      <svg
        class="h-5 w-5 flex-none"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true">
        <path
          fill-rule="evenodd"
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <blockquote class="mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">
      <p>“After using Helperbird I can't say enough positive things about it. This extension has
        truly transformed my online reading experience. Whether it's adjusting font sizes,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                reducing eye strain with the gray filter, or using the dyslexia-friendly fonts,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Helperbird offers a range of features that cater to individual preferences and needs.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                The customizable color options and text alignment have also been incredibly helpful for
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                personalizing my browsing. And the speed reading feature? It's a game-changer! Overall,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Helperbird is a versatile, user-friendly tool that enhances accessibility and makes
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                online reading a breeze. Highly recommended!”</p>
    </blockquote>
    <figcaption class="mt-10 flex items-center gap-x-6">
      <img
        class="h-12 w-12 rounded-full bg-gray-50"
        src="https://lh3.googleusercontent.com/a-/ALV-UjWfiQYso5iraH8ys2pABocchAK31fe8M0UppGotjTkI40o=s48-w48-h48"
        alt="Charlie Nishelle Calkins">
      <div class="text-sm leading-6">
        <div class="font-semibold">Charlie Nishelle Calkins</div>
        <div class=" mt-2 text-black">Helperbird Pro user</div>
      </div>
    </figcaption>
  </figure>
</section>