<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ title }} - Helperbird</title>
    {% bundledCss %}
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    </script>

    <link href="https://www.helperbird.com{{ page.url | safe }}" rel="canonical" />
    <meta content="{{ description }}" name="description" />
    <meta content="{{ keywords }}" name="keywords" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="/assets/images/favicon.png" name="image" />
    <meta content="#5046e4" name="theme-color" />
    <meta content="Helperbird" itemprop="name" />
    <meta content="{{ description }}" itemprop="description" />
    <meta content="/assets/images/favicon.png" itemprop="image" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@helperbird">
    <meta name="twitter:creator" content="@robertjgabriel">
    <meta name="twitter:title" content="{{ title }} - Helperbird">
    <meta property="twitter:domain" content="helperbird.com" />

    <meta property="twitter:url" content="https://www.helperbird.com{{ page.url | safe }}" />
    <meta name="twitter:description" content="{{ description }}">

    <meta name="twitter:image:alt" content="Helperbird promo art with text saying visit Helperbird" />
    <meta name="twitter:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />


    <meta content="https://www.youtube.com/watch?v={{ youtubeId}}" name="twitter:player">


    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }} - Helperbird">
    <meta property="og:url" content="https://www.helperbird.com{{ page.url | safe }}">
    <meta property="og:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />
    <meta property="og:description" content="{{ description }}">
    <meta property="article:author" content="Robert James Gabriel">
    <meta property="article:published_time" content="2021-09-14T04:00:00.000+01:00">
    <meta property="article:section" content="Blog">
    <meta property="article:tag" content="blog">

    <link href="/assets/images/social/favicon.png" rel="shortcut icon" />
    <link href="touch-icon-iphone.png" rel="apple-touch-icon" />
    <link
      href="/assets/images/favicon.png"
      rel="apple-touch-icon"
      sizes="152x152" />
    <link
      href="/assets/images/favicon.png"
      rel="apple-touch-icon"
      sizes="180x180" />
    <link
      href="/assets/images/favicon.png"
      rel="apple-touch-icon"
      sizes="167x167" />
    <meta content="5A7359B55CCBDE2A927000280EAECBBC" name="msvalidate.01" />
    <script type="application/ld+json">
      {
      "@context": "https://schema.org",
                                                                                                                                                                                                                                                                                                                                            				"@type": "SoftwareApplication",
                                                                                                                                                                                                                                                                                                                                            				"name": "Helperbird",
                                                                                                                                                                                                                                                                                                                                            				"operatingSystem": ["Chrome", "Windows", "MacOs"],
                                                                                                                                                                                                                                                                                                                                            				"applicationCategory": "https://schema.org/UtilitiesApplication",
                                                                                                                                                                                                                                                                                                                                            				"aggregateRating": {
                                                                                                                                                                                                                                                                                                                                            					"@type": "AggregateRating",
                                                                                                                                                                                                                                                                                                                                            					"ratingValue": "4.7",
                                                                                                                                                                                                                                                                                                                                            					"ratingCount": "92"
                                                                                                                                                                                                                                                                                                                                            				},
                                                                                                                                                                                                                                                                                                                                            				"offers": {
                                                                                                                                                                                                                                                                                                                                            					"@type": "Offer",
                                                                                                                                                                                                                                                                                                                                            					"price": "6.99",
                                                                                                                                                                                                                                                                                                                                            					"priceCurrency": "USD"
                                                                                                                                                                                                                                                                                                                                            				}
                                                                                                                                                                                                                                                                                                                                            			}
    </script>
    <script type="application/ld+json">
      {
      "@context": "https://schema.org",
                                                                                                                                                                                                                                                                                                                                            				"@type": "Organization",
                                                                                                                                                                                                                                                                                                                                            				"name": "Helperbird",
                                                                                                                                                                                                                                                                                                                                            				"url": "https://www.helperbird.com",
                                                                                                                                                                                                                                                                                                                                            				"sameAs": [
                                                                                                                                                                                                                                                                                                                                            					"http://www.facebook.com/helperbird",
                                                                                                                                                                                                                                                                                                                                            					"https://www.linkedin.com/company/19112429",
                                                                                                                                                                                                                                                                                                                                            					"https://twitter.com/helperbird",
                                                                                                                                                                                                                                                                                                                                            					"https://www.youtube.com/helperbird"
                                                                                                                                                                                                                                                                                                                                            				]
                                                                                                                                                                                                                                                                                                                                            			}
    </script>
    <script type="application/ld+json">
      {
      "@context": "https://schema.org/",
                                                                                                                                                                                                                                                                                                                                            			        "@type": "Product",
                                                                                                                                                                                                                                                                                                                                            			        "name": "Helperbird",
                                                                                                                                                                                                                                                                                                                                            			        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
                                                                                                                                                                                                                                                                                                                                            			        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, Reading Mode, and much more.",
                                                                                                                                                                                                                                                                                                                                            			        "brand": "Helperbird",
                                                                                                                                                                                                                                                                                                                                            			        "sku": "helperbird2016",
                                                                                                                                                                                                                                                                                                                                            			        "gtin": "helperbird2016",
                                                                                                                                                                                                                                                                                                                                            			        "offers": {
                                                                                                                                                                                                                                                                                                                                            			            "@type": "Offer",
                                                                                                                                                                                                                                                                                                                                            			            "url": "https://www.helperbird.com/pricing/",
                                                                                                                                                                                                                                                                                                                                            			            "priceCurrency": "USD",
                                                                                                                                                                                                                                                                                                                                            			            "price": "30",
                                                                                                                                                                                                                                                                                                                                            			            "priceValidUntil": "2020-12-31",
                                                                                                                                                                                                                                                                                                                                            			            "availability": "https://schema.org/OnlineOnly",
                                                                                                                                                                                                                                                                                                                                            			            "itemCondition": "https://schema.org/NewCondition"
                                                                                                                                                                                                                                                                                                                                            			        },
                                                                                                                                                                                                                                                                                                                                            			        "aggregateRating": {
                                                                                                                                                                                                                                                                                                                                            			            "@type": "AggregateRating",
                                                                                                                                                                                                                                                                                                                                            			            "ratingValue": "5",
                                                                                                                                                                                                                                                                                                                                            			            "bestRating": "5",
                                                                                                                                                                                                                                                                                                                                            			            "worstRating": "1",
                                                                                                                                                                                                                                                                                                                                            			            "ratingCount": "2",
                                                                                                                                                                                                                                                                                                                                            			            "reviewCount": "2"
                                                                                                                                                                                                                                                                                                                                            			        },
                                                                                                                                                                                                                                                                                                                                            			        "review": [
      {%- for review in reviews.reviews -%}
        {
        "@type": "Review",
                                                                                                                                                                                                                                                                                                                                                                                                                        						            "name": "{{ review.name }}",
        "reviewBody": "
        {{ review.review }}",
        "reviewRating": {
                                                                                                                                                                                                                                                                                                                                                                                                                        						                "@type": "Rating",
                                                                                                                                                                                                                                                                                                                                                                                                                        						                "ratingValue": "5",
                                                                                                                                                                                                                                                                                                                                                                                                                        						                "bestRating": "5",
                                                                                                                                                                                                                                                                                                                                                                                                                        						                "worstRating": "1"
                                                                                                                                                                                                                                                                                                                                                                                                                        						            },
                                                                                                                                                                                                                                                                                                                                                                                                                        						            "datePublished": "2021-09-10",
                                                                                                                                                                                                                                                                                                                                                                                                                        						            "author": {
                                                                                                                                                                                                                                                                                                                                                                                                                        						                "@type": "Person",
                                                                                                                                                                                                                                                                                                                                                                                                                        						                "name": "{{ review.name }}"
        },
                                                                                                                                                                                                                                                                                                                                                                                                                        						            "publisher": {
                                                                                                                                                                                                                                                                                                                                                                                                                        						                "@type": "Organization",
                                                                                                                                                                                                                                                                                                                                                                                                                        						                "name": "App store"
                                                                                                                                                                                                                                                                                                                                                                                                                        						            }
                                                                                                                                                                                                                                                                                                                                                                                                                        						        },
      {%- endfor -%}
      {
      "@type": "Review",
                                                                                                                                                                                                                                                                                                                                						            "name": "Robert James Gabriel",
                                                                                                                                                                                                                                                                                                                                						            "reviewBody": "I know I founded it but this is amazing.",
                                                                                                                                                                                                                                                                                                                                						            "reviewRating": {
                                                                                                                                                                                                                                                                                                                                						                "@type": "Rating",
                                                                                                                                                                                                                                                                                                                                						                "ratingValue": "5",
                                                                                                                                                                                                                                                                                                                                						                "bestRating": "5",
                                                                                                                                                                                                                                                                                                                                						                "worstRating": "1"
                                                                                                                                                                                                                                                                                                                                						            },
                                                                                                                                                                                                                                                                                                                                						            "datePublished": "2021-09-10",
                                                                                                                                                                                                                                                                                                                                						            "author": {
                                                                                                                                                                                                                                                                                                                                						                "@type": "Person",
                                                                                                                                                                                                                                                                                                                                						                "name":  "Robert James Gabriel"
                                                                                                                                                                                                                                                                                                                                						            },
                                                                                                                                                                                                                                                                                                                                						            "publisher": {
                                                                                                                                                                                                                                                                                                                                						                "@type": "Organization",
                                                                                                                                                                                                                                                                                                                                						                "name": "App store"
                                                                                                                                                                                                                                                                                                                                						            }
                                                                                                                                                                                                                                                                                                                                						        }
                                                                                                                                                                                                                                                                                                                                            			        ]
                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                            			    }
    </script>

    <script type="application/ld+json">
      {
      "@context": "https://schema.org",
                                                                                                                                                                                                                                                                                                                                            				"@type": "BlogPosting",
                                                                                                                                                                                                                                                                                                                                            				"headline": "{{ title }}",
      "description": "{{ description }}",
      "author": {
                                                                                                                                                                                                                                                                                                                                            					"@type": "Organization",
                                                                                                                                                                                                                                                                                                                                            					"name": "Robert James",
                                                                                                                                                                                                                                                                                                                                            					"url": "https://twitter.com/RobertJGabriel"
                                                                                                                                                                                                                                                                                                                                            				},
                                                                                                                                                                                                                                                                                                                                            				"publisher": {
                                                                                                                                                                                                                                                                                                                                            					"@type": "Organization",
                                                                                                                                                                                                                                                                                                                                            					"name": "Helperbird",
                                                                                                                                                                                                                                                                                                                                            					"logo": {
                                                                                                                                                                                                                                                                                                                                            						"@type": "ImageObject",
                                                                                                                                                                                                                                                                                                                                            						"url": "https://www.helperbird.com/assets/images/pwa/logo/full.png"
                                                                                                                                                                                                                                                                                                                                            					}
                                                                                                                                                                                                                                                                                                                                            				},
                                                                                                                                                                                                                                                                                                                                            				"datePublished": "2021-09-06"
                                                                                                                                                                                                                                                                                                                                            			}
    </script>

    <meta content="5A7359B55CCBDE2A927000280EAECBBC" name="msvalidate.01" />
    <link
      href="/assets/images/social/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="180x180" />
    <link
      href="/assets/images/social/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png" />
    <link
      href="/assets/images/social/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png" />
    <link href="/assets/images/social/site.webmanifest" rel="manifest" />
    <link href="/assets/images/social/safari-pinned-tab.svg" rel="mask-icon" />
    <link href="/assets/images/social/favicon.ico" rel="shortcut icon" />
    <meta content="#ffffff" name="msapplication-TileColor" />
    <meta content="assets/images/social/browserconfig.xml" name="msapplication-config" />

  <style>

.helperbird-yellow{
background-color:rgb(246, 245, 231);
}

</style>

</head>

  <body>
    <div id="helperbird-website" style="background-color: rgb(246, 245, 231);">
      {% include templates/header.html %}

      <main class="mx-auto max-w-7xl">


        <div class="sm:px-8 mt-16 mb-16 sm:mt-32 sm:mb-32">
          <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">

              <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 lg:mt-10 ">

                <div class="max-w-xl text-base leading-7 text-gray-700 lg:col-span-8">
                  <div class="mt-4 mb-4">
                    <h1 class="leading-relaxed font-sans  leading-relaxed font-sans  text-5xl font-bold   text-black  mb-10 text-center">
                      {{
                         cardTitle }}</h1>

                  </div>
                  <article class="space-y-7 text-base text-black card bg-white border-stone-600 border-2">
                    <div class="card-body">
                      <p class="leading-relaxed font-sans  line-clamp-3 text-black mb-4 mt-4 text-lg">{{ blog_snip }}</p>

                      <div class="max-w-xs px-2.5 lg:max-w-none mb-4">
                        <img
                          alt="{{cardTitle}}"
                          sizes="(min-width: 1024px) 32rem, 20rem"
                          src="{{img}}"
                          width="800"
                          height="800"
                          decoding="async"
                          data-nimg="future"
                          class="aspect-square rounded-2xl bg-zinc-100"
                          loading="lazy"
                          style="color: transparent" />
                      </div>


                      {{ content | safe }}
                    </div>
                  </article>
                </div>

              </div>

            </div>
          </div>
        </div>


      </main>


      {% include templates/footer.html %}


    </div>

  </body>
  {% bundledJs %}

</html>