<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ title }} - Helperbird features</title>
    {% bundledCss %}
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js');
      }
    </script>

    <link href="https://www.helperbird.com{{ page.url | default: '/' | safe }}" rel="canonical" />
    <meta content="{{ description }}" name="description" />
    <meta content="{{ keywords }}" name="keywords" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="/assets/images/favicon.png" name="image" />
    <meta content="#5046e4" name="theme-color" />
    <meta content="Helperbird" itemprop="name" />
    <meta content="{{ description }}" itemprop="description" />
    <meta content="/assets/images/favicon.png" itemprop="image" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@helperbird" />
    <meta name="twitter:creator" content="@robertjgabriel" />
    <meta name="twitter:title" content="{{ title }} - Helperbird" />
    <meta property="twitter:domain" content="helperbird.com" />

    <meta property="twitter:url" content="https://www.helperbird.com{{ page.url | default: '/' | safe }}" />
    <meta name="twitter:description" content="{{ description }}" />

    <meta name="twitter:image:alt" content="Helperbird promo art with text saying visit Helperbird" />
    <meta name="twitter:image" content="https://www.helperbird.com{{ page.url | default: '/' | safe }}index.png" />

    <meta content="https://www.youtube.com/watch?v={{youtubeId}}" name="twitter:player" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }} - Helperbird" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="https://www.helperbird.com{{ page.url | default: '/' | safe }}" />
    <meta property="og:site_name" content="Helperbird" />
    <meta property="og:image" content="https://www.helperbird.com{{ page.url | default: '/' | safe }}index.png" />
    <meta property="og:video" content="https://www.youtube.com/watch?v={{youtubeId}}" />


    <link rel="shortcut icon" href="/assets/images/social/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/social/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/favicon.png">
    <meta name="msvalidate.01" content="5A7359B55CCBDE2A927000280EAECBBC">
  
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Helperbird",
        "operatingSystem": ["Chrome", "Windows", "MacOs"],
        "applicationCategory": "https://schema.org/UtilitiesApplication",
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.7",
          "ratingCount": "92"
        },
        "offers": {
          "@type": "Offer",
          "price": "6.99",
          "priceCurrency": "USD"
        }
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "url": "https://www.helperbird.com",
        "sameAs": [
          "http://www.facebook.com/helperbird",
          "https://www.linkedin.com/company/19112429",
          "https://twitter.com/helperbird",
          "https://www.youtube.com/helperbird"
        ]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, Reading Mode, and much more.",
        "brand": {
          "@type": "Brand",
          "name": "Helperbird"
        },
        "sku": "helperbird2016",
        "gtin": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing/",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [
          {%- for review in reviews.reviews -%}
          {
            "@type": "Review",
            "name": "{{ review.name }}",
            "reviewBody": "{{ review.review }}",
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5",
              "worstRating": "1"
            },
            "datePublished": "2021-09-10",
            "author": {
              "@type": "Person",
              "name": "{{ review.name }}"
            },
            "publisher": {
              "@type": "Organization",
              "name": "App store"
            }
          },
          {%- endfor -%}
          {
            "@type": "Review",
            "name": "Robert James Gabriel",
            "reviewBody": "I know I founded it but this is amazing.",
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5",
              "worstRating": "1"
            },
            "datePublished": "2021-09-10",
            "author": {
              "@type": "Person",
              "name": "Robert James Gabriel"
            },
            "publisher": {
              "@type": "Organization",
              "name": "App store"
            }
          }
        ]
      }
    </script>
  
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/social/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/social/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/social/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/social/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/social/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="/assets/images/social/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/assets/images/social/browserconfig.xml">
  
   
  
  <style>
    .header_background {
      background-color: rgb(246, 245, 231);
    }
    .helperbird-background-color{
      background-color: rgb(246, 245, 231) !important;
    }
    .helperbird-yellow{
      background-color:rgb(246, 245, 231);
    }
  
  </style>
  

  <style>
    .helperbird-tab-current > svg {
width: 1.5rem !important;
height: 1.5rem !important;
    }

    </style>

<style>
  .diff-item-1:after {
    background-color: black !important;
    border-color: black !important;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1)  !important;
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color) !important;
  }
  </style>

  </head>

  <body class="helperbird-background-color">
    <div id="helperbird-website">
      {% include templates/header.liquid %}



      <main class="mx-auto max-w-7xl pt-12 pb-12 pl-4 pr-4" id="content">

        <div class="card py-20 bg-base-100 shadow-md">
          <div class="mx-auto max-w-4xl px-6 lg:px-8 text-center">

          <div class="breadcrumbs max-w-2xl text-lg mx-auto border-b border-gray-200 pb-4 mb-12">
  <ul class="mx-auto w-fit gap-2">
  
    <li>
      <a href="/features/" class="btn btn-sm btn-outline gap-2" aria-current="page" title="Helperbird Features page">
      
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="currentColor h-6 w-6" fill="currentColor" ><path d="M240-160q-33 0-56.5-23.5T160-240q0-33 23.5-56.5T240-320q33 0 56.5 23.5T320-240q0 33-23.5 56.5T240-160Zm0-240q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm0-240q-33 0-56.5-23.5T160-720q0-33 23.5-56.5T240-800q33 0 56.5 23.5T320-720q0 33-23.5 56.5T240-640Zm240 0q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Zm240 0q-33 0-56.5-23.5T640-720q0-33 23.5-56.5T720-800q33 0 56.5 23.5T800-720q0 33-23.5 56.5T720-640ZM480-400q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm40 240v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
        Features
      </a>
    </li>
    <li>
      <span class="btn btn-outline btn-sm gap-2 helperbird-tab-current">
       
          {{ icon | svgContents | safe }}

        {{  cardTitle }}
      </span>
    </li>
  </ul>
</div>
   
            <h1 class="mt-2 font-sans text-4xl font-bold tracking-tight text-black sm:text-5xl">
              {{
                featurePageTitle }}
            </h1>
        
            <p class="mt-6 font-sans text-2xl leading-relaxed text-black">
              {{ featureDescription }}
            </p>
        
            <div class="mt-10 flex items-center justify-center gap-x-6">
            <button onclick="download_modal.showModal()" class="btn btn-lg btn-secondary shadow-md" aria-label="Download Helperbird" title="Download Helperbird">
              Try Helperbird for free
            </button>
            </div>
  
    
        
          <div class="mx-auto mt-16 flow-root max-w-3xl sm:mt-24">
            <div class="-m-2 rounded-xl lg:rounded-2xl">
              <div class="aspect-w-16 aspect-h-9">
         
                {% if isCompare == false %}
                <iframe
                  src="https://www.youtube-nocookie.com/embed/{{youtubeId | default: 'vwT8SAJfU3E'  }}"
                  autoplay="autoplay"
                  controls="true"
                  loop="loop"
                  muted="muted"
                  playsinline="playsinline"
                  class="rounded-md shadow-2xl1 ring-gray-900/10"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen>
                </iframe>
              {% endif %}
              {% if isCompare == true %}
               
                <div class="diff aspect-[16/9]  b-4 border-black rounded-xl bg-black" data-theme="dark">
                <div class="diff-item-1 border-black ">
                  <img alt="After {{cardTitle}} was enabled" src="/assets/images/difference/{{url}}before.png" />
                </div>
                <div class="diff-item-2 border-black">
                  <img
                    alt="Before {{cardTitle}} was enabled"
                    src="/assets/images/difference/{{url}}after.png" />
                </div>
                <div class="diff-resizer bg-black"></div>
              </div>
              {% endif %}
              </div>
            </div>
          </div>
          </div>
        </div>

        







        <section class="overflow-hidden rounded-2xl  my-12 card bg-white shadow-md"> 
          <div class="mx-auto max-w-7xl p-8 sm:p-16 card-body">


  
           
             

              
                  {{ content | safe }}

  

          </div>
        </section>






        <section class="rounded-2xl shadow-md bg-white px-6 py-24 sm:py-32 lg:px-8">
          <figure class="mx-auto max-w-2xl">
            <p class="sr-only">5 out of 5 stars</p>
            <div class="flex gap-x-1 text-blue-600 text-{{color}}-600">
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <blockquote class="mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">
              <p>We are so excited about working with this company and helping support our students with this program! Their support is outstanding as well!

              </p>
            </blockquote>
            <figcaption class="mt-10 flex items-center gap-x-6">
             <img
  class="h-12 w-12 rounded-2xl bg-gray-50"
  src="https://lh3.googleusercontent.com/a-/ALV-UjUIGu6eAxSsysN7EUFDJabk9TdGL32XCi0VxVtWbMQvAIB6R6fy=s96-w96-h96"
  alt="Charlie Nishelle Calkins, recognized for her contributions to Helperbird"
>

              <div class="text-sm leading-6">
                <div class="font-semibold">Jennifer Goodwin
                  </div>
                <div class=" mt-2 text-black">AT Teacher</div>
              </div>
            </figcaption>
          </figure>
        </section>

      </main>


      {% include templates/footer.html %}
    </div>
  </body>
  {% bundledJs %}

</html>