<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ title }} - Helperbird features</title>
    {% bundledCss %}
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js');
      }
    </script>

    <link href="https://www.helperbird.com{{ page.url | safe }}" rel="canonical" />
    <meta content="{{ description }}" name="description" />
    <meta content="{{ keywords }}" name="keywords" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="/assets/images/favicon.png" name="image" />
    <meta content="#5046e4" name="theme-color" />
    <meta content="Helperbird" itemprop="name" />
    <meta content="{{ description }}" itemprop="description" />
    <meta content="/assets/images/favicon.png" itemprop="image" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@helperbird" />
    <meta name="twitter:creator" content="@robertjgabriel" />
    <meta name="twitter:title" content="{{ title }} - Helperbird" />
    <meta property="twitter:domain" content="helperbird.com" />

    <meta property="twitter:url" content="https://www.helperbird.com{{ page.url | safe }}" />
    <meta name="twitter:description" content="{{ description }}" />

    <meta name="twitter:image:alt" content="Helperbird promo art with text saying visit Helperbird" />
    <meta name="twitter:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />

    <meta content="https://www.youtube.com/watch?v={{youtubeId}}" name="twitter:player" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }} - Helperbird" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="https://www.helperbird.com{{ page.url | safe }}" />
    <meta property="og:site_name" content="Helperbird" />
    <meta property="og:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />
    <meta property="og:video" content="https://www.youtube.com/watch?v={{youtubeId}}" />


    <link rel="shortcut icon" href="/assets/images/social/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/social/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/favicon.png">
    <meta name="msvalidate.01" content="5A7359B55CCBDE2A927000280EAECBBC">
  
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Helperbird",
        "operatingSystem": ["Chrome", "Windows", "MacOs"],
        "applicationCategory": "https://schema.org/UtilitiesApplication",
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.7",
          "ratingCount": "92"
        },
        "offers": {
          "@type": "Offer",
          "price": "6.99",
          "priceCurrency": "USD"
        }
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "url": "https://www.helperbird.com",
        "sameAs": [
          "http://www.facebook.com/helperbird",
          "https://www.linkedin.com/company/19112429",
          "https://twitter.com/helperbird",
          "https://www.youtube.com/helperbird"
        ]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, Reading Mode, and much more.",
        "brand": {
          "@type": "Brand",
          "name": "Helperbird"
        },
        "sku": "helperbird2016",
        "gtin": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing/",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [
          {%- for review in reviews.reviews -%}
          {
            "@type": "Review",
            "name": "{{ review.name }}",
            "reviewBody": "{{ review.review }}",
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5",
              "worstRating": "1"
            },
            "datePublished": "2021-09-10",
            "author": {
              "@type": "Person",
              "name": "{{ review.name }}"
            },
            "publisher": {
              "@type": "Organization",
              "name": "App store"
            }
          },
          {%- endfor -%}
          {
            "@type": "Review",
            "name": "Robert James Gabriel",
            "reviewBody": "I know I founded it but this is amazing.",
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5",
              "worstRating": "1"
            },
            "datePublished": "2021-09-10",
            "author": {
              "@type": "Person",
              "name": "Robert James Gabriel"
            },
            "publisher": {
              "@type": "Organization",
              "name": "App store"
            }
          }
        ]
      }
    </script>
  
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/social/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/social/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/social/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/social/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/social/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="/assets/images/social/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/assets/images/social/browserconfig.xml">
  
   
  
  <style>
    .header_background {
      background-color: rgb(246, 245, 231);
    }
    .helperbird-background-color{
      background-color: rgb(246, 245, 231) !important;
    }
    .helperbird-yellow{
      background-color:rgb(246, 245, 231);
    }
  
  </style>
  

  </head>

  <body class="helperbird-background-color">
    <div id="helperbird-website">
      {% include templates/header.html %}



      <main class="mx-auto max-w-7xl pt-12 pb-12 pl-4 pr-4" id="content">


      <div class="rounded-2xl text-black py-24 sm:py-32 sm:py-16 lg:px-4 mb-4">
        <div class="mx-auto max-w-4xl text-center">
          <h1 class="leading-relaxed font-sans text-4xl font-bold text-black sm:text-6xl">{{
            featurePageTitle }}</h1>
          <p class="leading-relaxed font-sans mt-6 text-2xl text-black">
            {{ featureDescription }}
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">

          <button
          onclick="download_modal.showModal()"
          class="btn btn-secondary shadow-md"
          >
          <span class="sr-only">Try for free</span>
          Download Helperbird!
          </button>
          </div>

          <div class="mt-16 flow-root sm:mt-24 mx-auto max-w-3xl">
            <div class="-m-2 rounded-xl bg-stone-400 p-2 lg:-m-4 lg:rounded-2xl lg:p-4">
              <div class="aspect-w-16 aspect-h-9">
                <iframe
                  src="https://www.youtube-nocookie.com/embed/{{youtubeId | default: 'vwT8SAJfU3E'  }}"
                  autoplay="autoplay"
                  controls="true"
                  loop="loop"
                  muted="muted"
                  playsinline="playsinline"
                  class="rounded-md shadow-2xl1 ring-gray-900/10"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>




        <section class="overflow-hidden rounded-2xl  py-12 ppt-0">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">

          <div class="px-6 py-24 sm:py-32 lg:px-8 mb-12">
            <div class="mx-auto max-w-2xl text-center">
              <h2 class="text-4xl font-bold text-black sm:text-6xl">{{cardTitle }}</h2>
              <p class="mt-6 text-2xl  text-black">{{ featureDescription }}</p>
            </div>
          </div>


            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="lg:pr-8 lg:pt-4">

                <div class="lg:max-w-lg text-black">

              
                  {{ content | safe }}

                </div>
              </div>
              <img
                src="https://www.helperbird.com/assets/images/fresh-start/writing.png"
                alt="Screenshot of a Google Docs document titled 'Untitled document'. Within the document, there's partial text stating 'Hello everyone my nam'. Beneath the incomplete sentence, there's a word prediction tool suggesting completions like 'name', 'names', 'named', etc. On the right side, the Helperbird extension is active, displaying several features. There's a bright pink 'Helperbird note' that quotes Chef Gusteau from Ratatouille, saying, 'Your only limit is your soul. What I say is true—anyone can cook ... but only the fearless can be great.' Other visible Helperbird tools include 'Voice typing', 'Sticky note', 'Word Prediction', and 'Highlighter'."
                class="w-[48rem] max-w-none rounded-xl  sm:w-[57rem] md:-ml-4 lg:-ml-0"
                width="2432"
                height="1442"
              />
            </div>
          </div>
        </section>






        <section class="rounded-xl shadow-md bg-white px-6 py-24 sm:py-32 lg:px-8">
          <figure class="mx-auto max-w-2xl">
            <p class="sr-only">5 out of 5 stars</p>
            <div class="flex gap-x-1 text-blue-600 text-{{color}}-600">
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <blockquote class="mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">
              <p>“After using Helperbird I can't say enough positive things about it. This extension has
                truly transformed my online reading experience. Whether it's adjusting font sizes,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        reducing eye strain with the gray filter, or using the dyslexia-friendly fonts,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Helperbird offers a range of features that cater to individual preferences and needs.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        The customizable color options and text alignment have also been incredibly helpful for
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        personalizing my browsing. And the speed reading feature? It's a game-changer! Overall,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Helperbird is a versatile, user-friendly tool that enhances accessibility and makes
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        online reading a breeze. Highly recommended!”</p>
            </blockquote>
            <figcaption class="mt-10 flex items-center gap-x-6">
             <img
  class="h-12 w-12 rounded-full bg-gray-50"
  src="https://lh3.googleusercontent.com/a-/ALV-UjWfiQYso5iraH8ys2pABocchAK31fe8M0UppGotjTkI40o=s48-w48-h48"
  alt="Charlie Nishelle Calkins, recognized for her contributions to Helperbird"
>

              <div class="text-sm leading-6">
                <div class="font-semibold">Charlie Nishelle Calkins</div>
                <div class=" mt-2 text-black">Helperbird Pro user</div>
              </div>
            </figcaption>
          </figure>
        </section>

      </main>


      {% include templates/footer.html %}
    </div>
  </body>
  {% bundledJs %}

</html>