<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ title }} - Helperbird</title>
    {% bundledCss %}
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    </script>

    <link href="https://www.helperbird.com{{ page.url | safe }}" rel="canonical" />
    <meta content="{{ description }}" name="description" />
    <meta content="{{ keywords }}" name="keywords" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="/assets/images/favicon.png" name="image" />
    <meta content="#5046e4" name="theme-color" />
    <meta content="Helperbird" itemprop="name" />
    <meta content="{{ description }}" itemprop="description" />
    <meta content="/assets/images/favicon.png" itemprop="image" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@helperbird">
    <meta name="twitter:creator" content="@robertjgabriel">
    <meta name="twitter:title" content="{{ title }} - Helperbird">
    <meta property="twitter:domain" content="helperbird.com" />

    <meta property="twitter:url" content="https://www.helperbird.com{{ page.url | safe }}" />
    <meta name="twitter:description" content="{{ description }}">

    <meta name="twitter:image:alt" content="Helperbird promo art with text saying visit Helperbird" />
    <meta name="twitter:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />


    <meta content="https://www.youtube.com/watch?v={{ youtubeId}}" name="twitter:player">


    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }} - Helperbird">
    <meta property="og:url" content="https://www.helperbird.com{{ page.url | safe }}">
    <meta property="og:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />
    <meta property="og:description" content="{{ description }}">
    <meta property="article:author" content="Robert James Gabriel">
    <meta property="article:published_time" content="2021-09-14T04:00:00.000+01:00">
    <meta property="article:section" content="Blog">
    <meta property="article:tag" content="blog">

    <link href="/assets/images/social/favicon.png" rel="shortcut icon" />
    <link href="touch-icon-iphone.png" rel="apple-touch-icon" />
    <link
      href="/assets/images/favicon.png"
      rel="apple-touch-icon"
      sizes="152x152" />
    <link
      href="/assets/images/favicon.png"
      rel="apple-touch-icon"
      sizes="180x180" />
    <link
      href="/assets/images/favicon.png"
      rel="apple-touch-icon"
      sizes="167x167" />
    <meta content="5A7359B55CCBDE2A927000280EAECBBC" name="msvalidate.01" />
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Helperbird",
      "operatingSystem": ["Chrome", "Windows", "MacOs"],
      "applicationCategory": "https://schema.org/UtilitiesApplication",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.7",
        "ratingCount": "92"
      },
      "offers": {
        "@type": "Offer",
        "price": "6.99",
        "priceCurrency": "USD"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Helperbird",
      "url": "https://www.helperbird.com",
      "sameAs": [
        "http://www.facebook.com/helperbird",
        "https://www.linkedin.com/company/19112429",
        "https://twitter.com/helperbird",
        "https://www.youtube.com/helperbird"
      ]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "Helperbird",
      "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
      "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, Reading Mode, and much more.",
      "brand": {
        "@type": "Brand",
        "name": "Helperbird"
      },
      "sku": "helperbird2016",
      "gtin": "helperbird2016",
      "offers": {
        "@type": "Offer",
        "url": "https://www.helperbird.com/pricing/",
        "priceCurrency": "USD",
        "price": "30",
        "priceValidUntil": "2020-12-31",
        "availability": "https://schema.org/OnlineOnly",
        "itemCondition": "https://schema.org/NewCondition"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "bestRating": "5",
        "worstRating": "1",
        "ratingCount": "2",
        "reviewCount": "2"
      },
      "review": [
        {%- for review in reviews.reviews -%}
        {
          "@type": "Review",
          "name": "{{ review.name }}",
          "reviewBody": "{{ review.review }}",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2021-09-10",
          "author": {
            "@type": "Person",
            "name": "{{ review.name }}"
          },
          "publisher": {
            "@type": "Organization",
            "name": "App store"
          }
        },
        {%- endfor -%}
        {
          "@type": "Review",
          "name": "Robert James Gabriel",
          "reviewBody": "I know I founded it but this is amazing.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2021-09-10",
          "author": {
            "@type": "Person",
            "name": "Robert James Gabriel"
          },
          "publisher": {
            "@type": "Organization",
            "name": "App store"
          }
        }
      ]
    }
  </script>

    <meta content="5A7359B55CCBDE2A927000280EAECBBC" name="msvalidate.01" />
    <link
      href="/assets/images/social/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="180x180" />
    <link
      href="/assets/images/social/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png" />
    <link
      href="/assets/images/social/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png" />
    <link href="/assets/images/social/site.webmanifest" rel="manifest" />
    <link href="/assets/images/social/safari-pinned-tab.svg" rel="mask-icon" />
    <link href="/assets/images/social/favicon.ico" rel="shortcut icon" />
    <meta content="#ffffff" name="msapplication-TileColor" />
    <meta content="assets/images/social/browserconfig.xml" name="msapplication-config" />


    <style>
      .header_background {
        background-color: rgb(246, 245, 231);
      }
      .helperbird-background-color {
        background-color: rgb(246, 245, 231) !important;
      }
  >
    <style>

      .helperbird-yellow {
        background-color: rgb(246, 245, 231);
      }
    </style>

  </head>

  <body class="helperbird-background-color">
    <div id="helperbird-website">

      {% include templates/header.liquid %}
  
      <main class="mx-auto max-w-7xl pt-12 pb-12 px-4" id="content">
  
        <div class="px-6 py-20 lg:px-8">
        
          <div class="mx-auto max-w-3xl">

          <div class="flex items-center space-x-4">
            <img 
              class="w-32 h-32 rounded-2xl border-4 border-stone-300 bg-base-100" 
              src="{{img}}"
              alt="{{ cardTitle }}"
            >
            <div>
              <h3 class="text-2xl font-bold text-black mb-4"> {{ cardTitle }}</h3>
              <p class="text-lg text-black">Helperbird Trainer</p>
            </div>
          </div>

      
          </div>
        </div>
  
        <div class="px-6 py-32 lg:px-8 pt-12 pb-12">
          <div class="mx-auto max-w-3xl text-base">
            <article class="text-black card-compact border-2 border-stone-300 bg-base-100  rounded-2xl">
              <div class="card-body">
               
                  {{ content | safe }}
    
            </article>
          </div>
        </div>
  
        {% include templates/new/cta/download.html %}
  
      </main>
  
      {% include templates/footer.liquid %}
  
    </div>
  
  </body>
  {% bundledJs %}

  
  </html>