---
layout: templates/base.html
title: Accessibility features of Helperbird - Helperbird
description: Here at the 25 features that make Helperbird the best in class for helping everyone be more productive and make the web more accessible.
keywords: Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
icon: "/src/_includes/svgs/text-to-speech.svg"
cardTitle: Adjust Letters and Words
link: reading
url: /features/
---

<div>


		<div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
		<div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
			<div>

			<div class="mt-20">
			
				<div class="mt-6 sm:max-w-xl">
					<h1 class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">All the features you need to stay on top</h1>
					<p class="mt-6 text-xl text-gray-500">Helperbird is more than just an accessibility tool — it’s a better way to be more productive. Users that switch to Helperbird are productive and better-organized thanks to our accessibility features.</p>
				</div>
			
				<div class="mt-6">
					<a href="/pricing/" title="Link to Helperbirds pricing and downloads page." class="shadow-2xl lg:btn-md btn mt-4 btn-primary">Get started</a>
					<a href="/pricing/" title="Link to Helperbirds pricing and downloads page." class="shadow-2xl lg:btn-md btn mt-4 btn-outline btn-secondary">See pricing</a>
				</div>
			</div>
			</div>
		</div>
	
		<div class="sm:mx-auto sm:max-w-3xl sm:px-6">
			<div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
	
			<div class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
				<img class="w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:w-auto lg:max-w-none" src="/assets/images/products/chrome/helperbird-for-google-chrome.png" alt="">
			</div>
			</div>
		</div>
		</div>

	












<div>
	<div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-18 sm:pb-18 lg:max-w-7xl lg:pt-18 lg:px-8">
	


		<h2 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight">Customize your reading experience
		</h2>


	
	  <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
		


			{%- for post  in collections.reading -%}

			<div class=" bg-white   rounded-lg p-6  ">
				<div>
					<span class="flex items-center justify-center h-12 w-12 rounded-full text-black">
						{{  post.data.icon | svgContents | safe }}
					</span>
				</div>
				<div class="mt-6">
					<h3 class="text-xl font-medium text-black">{{ post.data.cardTitle }}</h3>
					<p class="mt-2 text-base text-black">{{ post.data.featureDescription }}</p>

					<a class=" decoration-pink-500 mt-6 btn btn-secondary" href="{{ post.data.url }}" title="More information on feature {{ post.data.cardTitle  }}">Discover
						{{ post.data.cardTitle }}</a>
				</div>
			</div>

		{%- endfor -%}

				
	  </div>
	</div>
  </div>





  <div>
	<div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-18 sm:pb-18 lg:max-w-7xl lg:pt-18 lg:px-8">
	

				<h2 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight">Support for all users </h2>


	
	  <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
		

	
		{%- for post  in collections.accessibility -%}

		<div class=" bg-white   rounded-lg p-6  ">
			<div>
				<span class="flex items-center justify-center h-12 w-12 rounded-full text-black">
					{{  post.data.icon | svgContents | safe }}
				</span>
			</div>
			<div class="mt-6">
				<h3 class="text-xl font-medium text-black">{{ post.data.cardTitle }}</h3>
				<p class="mt-2 text-base text-black">{{ post.data.featureDescription }}</p>

				<a class=" decoration-pink-500 mt-6 btn btn-secondary" href="{{ post.data.url }}" title="More information on feature {{ post.data.cardTitle  }}">Discover
					{{ post.data.cardTitle }}</a>
			</div>
		</div>

	{%- endfor -%}

  

  

  
	
  
	
	
	  </div>
	</div>
  </div>



  <div>
	<div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-18 sm:pb-18 lg:max-w-7xl lg:pt-18 lg:px-8">
	

				<h2 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight">Tools to bring your writing to the next level </h2>


	
	  <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
		

		{%- for post  in collections.writing -%}

		<div class=" bg-white   rounded-lg p-6  ">
			<div>
				<span class="flex items-center justify-center h-12 w-12 rounded-full text-black">
					{{  post.data.icon | svgContents | safe }}
				</span>
			</div>
			<div class="mt-6">
				<h3 class="text-xl font-medium text-black">{{ post.data.cardTitle }}</h3>
				<p class="mt-2 text-base text-black">{{ post.data.featureDescription }}</p>

				<a class=" decoration-pink-500 mt-6 btn btn-secondary" href="{{ post.data.url }}" title="More information on feature {{ post.data.cardTitle  }}">Discover
					{{ post.data.cardTitle }}</a>
			</div>
		</div>

	{%- endfor -%}

  

  

  
	
  
	
	
	  </div>
	</div>
  </div>













  {% include common/cta_one.html %} 
</div>



