---
new: true
header: true
layout: templates/base.html
title: Accessibility Features of Helperbird - Enhance Productivity and Accessibility
description: Discover the power of over 25 features that make Helperbird the top choice for enhancing productivity and accessibility online. Join our community of users who have experienced the best-in-class support of our extension.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for Chrome, Text to speech for Chrome, text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome, OpenDyslexic
featurePageTitle: Accessibility Features of Helperbird - Enhance Productivity and Accessibility
img: i1EeaekPHIo
icon: "/src/_includes/svgs/text-to-speech.svg"
youtubeId: PfILiWebkuc
cardTitle: Accessibility Features of Helperbird
link: reading
url: features/
---



<div class="bg-gray-900 card border-2 border-stone-600 py-24 sm:py-24" id="reading">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
   
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Customize your reading experience</h2>
      <p class="mt-6 text-lg leading-8 text-white">	Make accessibility and productivity work hand-in-hand with Helperbird. Our tools empower users
		to be more organized and efficient, leading to a better overall experience.</p>

		<div
		class="mt-2 inline-flex items-center divide-x text-sm font-semibold uppercase tracking-wide text-white sm:mt-4">
		<div class="flex flex-shrink-0 pr-5">
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
		</div>
		<div class="min-w-0 flex-1 py-1 pl-5 text-sm sm:py-3">
			Rated 5 stars by over 500,000 people.
		</div>
	</div>
    </div>
  </div>
  <div class="relative  pt-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
		<video autoplay="autoplay" control="control" class="mb-8 mx-auto rounded-xl shadow-2xl ring-1 ring-white/10 h-max	 w-max	" loop="loop" muted="muted" playsinline="playsinline"
							class="rounded-xl">
							<source src="/assets/videos/new/dyslexia.webm" type="video/webm" />
							<source src="/assets/videos/styles.mp4" type="video/mp4" />
						</video>

      <div class="relative" aria-hidden="true">
        <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-gray-900 pt-[7%]"></div>
      </div>
    </div>
  </div>
  <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
    <dl class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-black 300 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
     
	{%- for post in collections.reading -%}
		<div class="relative pl-9">
			<dt class="inline font-semibold text-white">
			<div  class="left-1 top-1 h-12 w-12 mb-4 text-white badge badge-lg">
				{{ post.data.icon | svgContents | safe }}
			</div>
			<h3 class="text-lg font-bold text-white">{{ post.data.cardTitle }}</h3>
			</dt>
			
			<dd class="inline">
			<p class="text-base mb-4  text-white ">	
			{{ post.data.featureDescription }}
			
			</p>

			<a class="btn-sm btn btn-outline btn-secondary border-stone-600 border-2 mt-2"
									href="{{ post.url }}"
									title="More information on feature {{ post.data.cardTitle  }}">
									Read more
								</a>
			</dd>
		</div>
	{%- endfor -%}


    </dl>
  </div>
</div>




<div class="bg-white card border-2 border-stone-600 py-24 sm:py-24 my-16" id="writing">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
  
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-black 900 sm:text-4xl">Tools to bring your writing to the
		next level </h2>
      <p class="mt-6 text-lg leading-8 text-black 600">Tools to bring your writing to the
		next level </p>


		<div
		class="mt-2 inline-flex items-center divide-x text-sm font-semibold uppercase tracking-wide text-white sm:mt-4">
		<div class="flex flex-shrink-0 pr-5">
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
			<svg aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400">
				<path
					d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
				</path>
			</svg>
		</div>
		<div class="min-w-0 flex-1 py-1 pl-5 text-sm sm:py-3">
			Rated 5 stars by over 500,000 people.
		</div>
	</div>
    </div>
  </div>
  <div class="relative  pt-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
		<video autoplay="autoplay" control="control" class="mb-8 mx-auto rounded-xl shadow-2xl ring-1 ring-white/10 h-max	 w-max	" loop="loop" muted="muted" playsinline="playsinline"
		class="rounded-xl">
		<source src="/assets/videos/new/dyslexia.webm" type="video/webm" />
		<source src="/assets/videos/styles.mp4" type="video/mp4" />
	</video>

    </div>
  </div>
  <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
    <dl class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-black 600 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
		{%- for post in collections.writing -%}
	
		<div class="relative pl-9">
        <dt class="inline font-semibold text-black 900">
			<div  class="left-1 top-1 h-12 w-12 mb-4 text-white badge badge-lg">
				{{ post.data.icon | svgContents | safe }}
			</div>
			<h3 class="text-lg font-bold text-white">{{ post.data.cardTitle }}</h3>
			</dt>
			
			<dd class="inline">
			<p class="text-base mb-4  text-black ">	
			{{ post.data.featureDescription }}
			
			</p>

			<a class="btn-sm btn btn-outline btn-secondary border-stone-600 border-2 mt-2"
									href="{{ post.url }}"
									title="More information on feature {{ post.data.cardTitle  }}">
									Read more
								</a>
			</dd>
      </div>

	{%- endfor -%}
      
    </dl>
  </div>
</div>




<div class="bg-white card border-2 border-stone-600 py-24 sm:py-32  my-16" id="a11y">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">All the accessibility features you need</h2>
        <p class="mt-6 text-base leading-7 text-gray-600">From Dyslexia supports,color blindness tools, we have every tool you need.</p>
      </div>
      <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">
     
				{%- for post in collections.accessibility -%}
	  <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <div class=" left-0 top-1 h-12 w-12 mb-4 text-white badge badge-lg">
            	{{ post.data.icon | svgContents | safe }}
            </div>
			<h3 class="text-lg font-bold text-black">{{ post.data.cardTitle }}</h3>
          </dt>
          <dd class="mt-2"><p class="text-base mb-4  text-black ">	
			{{ post.data.featureDescription }}
			
			</p>
			<a class="btn-sm btn btn-outline btn-secondary border-stone-600 border-2 mt-2"
			href="{{ post.url }}"
			title="More information on feature {{ post.data.cardTitle  }}">
			Read more
		</a>
			
			</dd>
        </div>
	{%- endfor -%}
      </dl>
    </div>
  </div>
</div>



{% include common/cta.html %}