---
new: false
footer: true
header: true
layout: templates/base.html
title: Sign Up for Free Helperbird Pro - Become a Helperbird Trainer
youtubeId: vwT8SAJfU3E
cardTitle: Helperbird Trainers
description: Teachers can sign up for a free copy of Helperbird Pro. Explore our resources, get expert assistance, and find solutions with the help of our dedicated Helperbird support team.
keywords:
  - Dyslexia software
  - Reading Mode for Google Chrome
  - Voice typing for chrome
  - Text to speech for chrome
  - text reader
  - Immersive Reader
  - dyslexia fonts
  - accessibility software
  - dyslexia software
  - Helperbird for Edge
  - Helperbird for Firefox
  - Helperbird for Chrome
  - Opendyslexic for Chrome
  - OpenDyslexic
url: partners/
---




<div class="rounded-2xl text-black py-24 sm:py-32 sm:py-16 lg:px-4 mb-4">
  <div class="mx-auto max-w-4xl text-center">
    <h1
      class="leading-relaxed font-sans text-4xl font-bold text-black sm:text-6xl"
    >
    Get Helperbird Pro for Free
    </h1>
    <p class="leading-relaxed font-sans mt-6 text-2xl text-black">
      Educational tech trainers and teachers, grab our exclusive offer! Get free access to Helperbird Pro and enjoy complimentary swag and goodies, with no hidden fees or catches. Simply fill out the form below, and our team will swiftly review your details and have you set up in no time.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <button onclick="download_modal.showModal()" class="btn btn-secondary shadow-md" aria-label="Download Helperbird" title="Download Helperbird">
        Download
    </button>

      <a href="#apply" class="btn-base btn-secondary btn shadow-md" title="Join our team and help others by becoming a Helperbird trainer">Apply to be a Helperbird trainer</a>

    </div>


  </div>
</div>






<!--- contact --->



<section class="relative isolate border-2 border-stone-300 bg-base-100 card rounded-2xl shadow-md mt-16 mb-16 " id="apply">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 ">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <h2 class="leading-relaxed font-sans text-3xl font-bold text-black">Apply to be a Helperbird Trainer</h2>
        <p class="leading-relaxed font-sans mt-6 text-lg text-black">
          Join Helperbird as a Trainer! Fill out your details, and we'll get you set up quickly—no hidden catches, no credit card needed. Just complete the form below, and we'll be in touch soon.
        </p>
      
        <h3 class="leading-relaxed font-sans text-2xl font-semibold text-black mt-8 mb-8">Requirements</h3>
      
        <h4 class="leading-relaxed font-sans text-xl font-semibold text-black mt-4">Use your work email address</h4>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          We need to verify your email address to confirm that you are a teacher or trainer.
        </p>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          <b>This email will also be used to set up your Helperbird Pro account.</b>
        </p>
      
        <h4 class="leading-relaxed font-sans text-xl font-semibold text-black mt-8">Submit a website or social link</h4>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          If you don't have a work email, please provide a link to your Twitter, professional website, or LinkedIn page for verification.
        </p>
      
        <h4 class="leading-relaxed font-sans text-xl font-semibold text-black mt-8">Love Free Swag? Share Your Address! (Totally Optional)</h4>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          We'd love to send you some Helperbird swag! If you’re comfortable, please provide your address below.
        </p>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          Feel free to leave it blank if you prefer—it's completely optional. Your comfort and privacy are our top priority.
        </p>
      </div>
      
    </div>
    <div class="px-6 pb-12 pt-12 sm:pb-12 lg:px-8 lg:py-12">
      <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6">
   <iframe
    frameborder="0"
    height="1006"
    marginwidth="0"
    loading="lazy"
    src="https://docs.google.com/forms/d/e/1FAIpQLSfewfysLVGxbL4EgQv4VrkwsACau2Nzw4XdQkGyM60ZOfzGBA/viewform?embedded=true"
    title="Helperbird feedback form"
    width="100%"
>Loading...</iframe>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="border-2 border-stone-300 bg-base-100 card rounded-xl py-24 sm:py-32 my-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-black sm:text-4xl">Helperbird Trainers</h2>
      <p class="mt-6 text-lg leading-8 text-black">Meet our approved Helperbird Trainers.</p>
    </div>
    <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">
      {%- for friend in partners.friends -%}
        <li>
          <img
            class="mx-auto h-24 w-24 rounded-2xl"
            src="{{ friend.img }}"
            alt="Photo of {{ friend.title }}">
          <h3 class="leading-relaxed font-sans mt-6 text-base font-semibold text-black line-clamp-1">{{ friend.title }}</h3>
          <p class="text-sm leading-6 text-black">{{ friend.location }}</p>
          <a
            class="link link-hover text-blue-500 hover:text-blue-700 mt-2"
            href="{{ friend.url }}"
            title="Learn more about {{ friend.title }}">
            Visit profile
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
