---
new: true
header: true
layout: templates/base.html
title: Recommended & endorsed by the Helperbird Team
youtubeId: PfILiWebkuc
cardTitle: Recommended by Helperbird
description: At Helperbird, we understand the importance of personal preference. Whether you prefer iPhones over Androids or Ford over Volkswagen, we have you covered. That's why we created a curated list of other apps that we trust and recommend to enhance your experience.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: recommends/
---


<main class="isolate">
  <div class="mx-auto mt-11 max-w-7xl px-6 sm:mt-12 lg:px-8">
    <div class="mx-auto max-w-4xl text-center header__helperbird_single__tagline">

      <h1 class="leading-relaxed font-sans  font-bold   text-white text-xl md:text-6xl">
        Helperbird recommends
      </h1>
    </div>


    <p class="leading-relaxed font-sans  mt-10 text-2xl leading-8 text-black mx-auto text-center">
      At Helperbird, we believe in the power of community and collaboration. That's why we're excited to share our favorite tools and apps with you.

    </p>

    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        href="#recommended"
        title="Link to the help guides."
        class="btn btn-secondary shadow-md">Recommended list</a>
      <a
        href="#Survey"
        title="Link to the help guides."
        class="btn-base btn-outline btn border-2 border-stone-600">Survey</a>
    </div>


    <div id="recommended" class="mt-12 mb-12">
      <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
        <h2 class="leading-relaxed font-sans   text-2xl font-bold   text-black sm:text-4xl mb-10">Recommended apps & websites</h2>
        <p class="leading-relaxed font-sans  mt-6 text-xl leading-8 text-black">
          Stay up-to-date with our regularly updated Helperbird Recommendations page, featuring a diverse range of handpicked edtech tools and entertaining apps to enhance your experience.</p>
        <p class="leading-relaxed font-sans  mt-6 text-xl leading-8 text-black">
          If you would like to recommend an app or tool, email us at
          <a href="mailto:support@helperbird.com" class="text-blue-600 hover:decoration-wavy hover:underline" title="Email Helperbird Support">support@helperbird.com</a>

        </p>
        <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">


          {%- for app in recommends.apps -%}


            <div class="flex flex-col  overflow-hidden bg-white bg-stone-600 border-2  card ">


              <div class="card-body">
                <div class="relative w-full">
                  <img
                    alt="Helperbird recommends {{ app.title }}"
                    src="{{ app.img }}"
                    class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">

                </div>
                <div class="max-w-xl">
                  <div class="mt-8 flex items-center gap-x-4 text-xs">

                    <span class="font-medium badge badge-secondary">{{ app.ideal }}</span>
                  </div>
                  <div class="group relative">
                    <h3 class="leading-relaxed font-sans  mt-3 text-xl font-bold text-black line-clamp-1">


                      {{ app.title }}
                    </h3>
                    <p class="leading-relaxed font-sans  mt-5  text-base text-black mb-5 line-clamp-3">{{ app.des }}</p>
                  </div>
                  <div class="card-actions justify-end">
                    <a
                      class="btn-sm btn btn-outline  shadow-md"
                      href="{{ app.url }}"
                      rel="noreferrer"
                      title="Read     {{ app.title }}">
                      Discover
                    </a>
                  </div>
                </div>
              </div>


            </div>

          {%- endfor -%}


        </div>
      </div>
    </div>


    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8 mt-12 mb-12" id="Survey">


      <div>
        <h1 class="leading-relaxed font-sans  mt-2 mb-2 text-3xl font-extrabold leading-8   text-gray-900 sm:text-4xl">
          Help us improve Helperbird
        </h1>

        <div class="card bg-white shadow-md mb-8 mt-8 rounded-sm mx-auto max-w-3xl rounded-xl">

          <div class="card-body rounded-xl">

            <p class="leading-relaxed font-sans   text-xl leading-8 text-black mb-6">Hey there! 👋,</p>
            <p class="leading-relaxed font-sans   text-xl leading-8 text-black mb-6">
              Your feedback is important to us. At Helperbird, we strive to improve our platform and offer the features you need.
            </p>
            <p class="leading-relaxed font-sans   text-xl leading-8 text-black mb-6">
              We'd love to hear your thoughts on integrating third-party apps into Helperbird.
            </p>
            <p class="leading-relaxed font-sans   text-xl leading-8 text-black mb-6">
              Please take our survey below to let us know which apps and tools you would like to see integrated, and feel free to suggest any other features you'd find helpful.
            </p>
            <p class="leading-relaxed font-sans   text-xl leading-8 text-black mb-6">
              Thank you for helping us make Helperbird even better.
            </p>


            <p class="leading-relaxed font-sans   text-xl leading-8 text-black mb-6">Thank you,</p>

            <div class="flex items-center gap-x-6">
              <img
                class="h-12 w-12 rounded-full"
                src="/assets/images/staff/anna.jpeg"
                alt="Anna Brown" />
              <div>
                <h3 class="leading-relaxed font-sans   text-xl font-bold leading-8   text-black">
                  Anna Brown
                </h3>
                <p class="leading-relaxed font-sans   text-base font-bold leading-6 text-indigo-600">Support staff</p>
              </div>
            </div>

          </div>


        </div>
      </div>


      <div class="relative sm:py-16 lg:py-0">
        <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
          <!-- Testimonial card-->
       <iframe
    frameborder="0"
    height="1006"
    marginwidth="0"
    loading="lazy"
    src="https://docs.google.com/forms/d/e/1FAIpQLSezjcqjI0qBwsTqKGCzBg3r-xaMEg1W-knYXlEBe7AU9rN7VQ/viewform?embedded=true"
    title="Helperbird recommends survey"
    width="100%">Loading...</iframe>

        </div>
      </div>
    </div>

  </div>
</main>