---
layout: templates/base.html
title: Recommended by Helperbird
youtubeId: PfILiWebkuc
cardTitle: Recommended by Helperbird
description: Here at Helperbird, we believe in choice, some people love iPhones over Androids others love Ford over Volkswagen. That's why we have launched a new page Helperbird recommends. A page of other apps we love or recommend to help you.
keywords: Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: recommends/
---


<div>


	  <!-- Hero card -->
      <div class="relative  bg-blue-700 rounded-3xl">

        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="relative shadow-xl sm:overflow-hidden rounded-3xl  bg-blue-700 ">

            <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
              <h1 class="text-center text-6xl font-bold ">
                <span class=" text-white">Helperbird</span>
                <span class=" text-blue-200">recommends</span>
              </h1>
              <p class="mx-auto mt-6 max-w-lg text-center text-2xl text-white sm:max-w-3xl">We believe in choice, some people love iPhones over Androids. <br> Below are apps and tools we recommend you add to your schoolbag of apps.</p>
              <div class="mx-auto mt-10 max-w-sm sm:flex sm:max-w-none sm:justify-center">
                <div class="space-y-4 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5 sm:space-y-0">
                  <a href="#recommended" class="flex items-center justify-center    text-base rounded-lg text-white btn   ">Recommended</a>
                  <a href="#survey" class="flex items-center justify-center    text-base rounded-lg text-white btn btn-outline   ">Survey</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  





<div id="recommended">
	<div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
		<h2 class="text-4xl font-bold mb-10">Recommended apps & websites</h2>
		<p class="mt-3  text-xl   text-black  sm:mt-4"> This page will be updated bi-weekly but has everything from edtech tools, to fun apps.</p>
        <p class="mt-3  text-xl   text-black  sm:mt-4">     If you would like to recommend an app or tool, email us at <a href="mailto:support@helperbird.com" class=" decoration-pink-500 underline decoration-wavy hover:underline hover:text-gray-900 hover:decoration-wavy">support@helperbird.com</a></p>
		<div
			class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
		>



		

		{%- for app in recommends.apps -%}
  
		
	
		<div class="flex flex-col shadow-lg overflow-hidden bg-white rounded-3xl  card ">
			<div class="card-body">
				<div class="flex-shrink-0">
					<img alt="Helperbird recommends {{ app.title}}" class="h-48 w-full object-cover" src="{{ app.img }}">
				</div>
				<div class="flex-1 bg-white  flex flex-col justify-between mt-6">
					<div class="flex-1">
					
			
						<p class="text-xl font-semibold text-gray-900">{{ app.title}}</p>
						<p class="mt-6 mb-6 text-base   text-black ">{{ app.des}}</p></a>
					</div>
					<div class="mt-6 flex items-center">
						<a class="   text-base rounded-lg text-white btn btn-secondary  " href="{{ app.url }}" target="_blank" rel="noreferrer" title="Discover more about {{ app.title}}">Learn more!</a>
		
					</div>
				</div>
			</div>
		</div>

		{%- endfor -%}

		
		</div>
	</div>
</div>


<div id="survey">
    <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
		<h2 class="text-4xl font-bold mb-10">We need your help</h2>
		<p class="mt-3  text-xl   text-black  sm:mt-4">We are always trying to improve Helperbird, giving you the features you want.</p>
        <p class="mt-3 text-xl text-black sm:mt-4"> That's why we have a survey below about apps and tools we are thinking of integrating into Helperbird.</p>
		<p class="mt-3 text-xl text-black sm:mt-4"> Would you find any of the recommendations useful? Or know another app or feature we talk to about getting integrated into Helperbird.</p>
		<div
			class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8"
		>



		<iframe class="mx-auto w-full" src="https://docs.google.com/forms/d/e/1FAIpQLSezjcqjI0qBwsTqKGCzBg3r-xaMEg1W-knYXlEBe7AU9rN7VQ/viewform?embedded=true" height="1204" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>


		
		</div>
	</div>
</div>


</div>