---
new: false
header: true
layout: templates/base.html
title: Testimonials & Reviews for Helperbird
youtubeId: PfILiWebkuc
cardTitle:  Testimonials for Helperbird
description: Reviews for Helperbird from 200,000 plus users on why they love Helperbird
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: testimonials/
---




<main class="isolate">

	<div class="px-6 py-24 sm:py-16 lg:px-8 mb-4">
		<div class="mx-auto max-w-3xl text-center">
		  <h2 class="leading-relaxed font-sans   text-4xl font-bold   text-black sm:text-6xl">Customer Testimonials
		</h2>
    <div class="mt-6 text-2xl leading-8 text-black inline-flex items-center divide-x font-bold uppercase">
      <div class="flex flex-shrink-0 pr-5">
        <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg> <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg> <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg> <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg> <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
      </div>
      <div class="flex-1 py-1 pl-5 text-base sm:py-3">
        Rated 5 stars by over 1,000,000 people.
      </div>
    </div>
		  <p class="leading-relaxed font-sans  mt-6 text-2xl leading-8 text-black">

      Discover what more than 1,000,000 satisfied users think about Helperbird.
		  </p>
		</div>
	  </div>

    <section
  tabindex="-1"
  class="relative max-w-7xl mx-auto px-4 focus:outline-none sm:px-3 md:px-5 p-8 pt-16 pb-16"
>


                                                                                

  <div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3">


    {%- for review in reviews.reviews -%}


      <figure class="relative rounded-2xl bg-white p-6 shadow-xl shadow-slate-900/10">
        <svg
          aria-hidden="true"
          width="105"
          height="78"
          class="absolute top-6 left-6 fill-slate-100"
        >
          <path
            d="M25.086 77.292c-4.821 0-9.115-1.205-12.882-3.616-3.767-2.561-6.78-6.102-9.04-10.622C1.054 58.534 0 53.411 0 47.686c0-5.273.904-10.396 2.712-15.368 1.959-4.972 4.746-9.567 8.362-13.786a59.042 59.042 0 0 1 12.43-11.3C28.325 3.917 33.599 1.507 39.324 0l11.074 13.786c-6.479 2.561-11.677 5.951-15.594 10.17-3.767 4.219-5.65 7.835-5.65 10.848 0 1.356.377 2.863 1.13 4.52.904 1.507 2.637 3.089 5.198 4.746 3.767 2.41 6.328 4.972 7.684 7.684 1.507 2.561 2.26 5.5 2.26 8.814 0 5.123-1.959 9.19-5.876 12.204-3.767 3.013-8.588 4.52-14.464 4.52Zm54.24 0c-4.821 0-9.115-1.205-12.882-3.616-3.767-2.561-6.78-6.102-9.04-10.622-2.11-4.52-3.164-9.643-3.164-15.368 0-5.273.904-10.396 2.712-15.368 1.959-4.972 4.746-9.567 8.362-13.786a59.042 59.042 0 0 1 12.43-11.3C82.565 3.917 87.839 1.507 93.564 0l11.074 13.786c-6.479 2.561-11.677 5.951-15.594 10.17-3.767 4.219-5.65 7.835-5.65 10.848 0 1.356.377 2.863 1.13 4.52.904 1.507 2.637 3.089 5.198 4.746 3.767 2.41 6.328 4.972 7.684 7.684 1.507 2.561 2.26 5.5 2.26 8.814 0 5.123-1.959 9.19-5.876 12.204-3.767 3.013-8.588 4.52-14.464 4.52Z"
          ></path>
        </svg>
        <blockquote class="relative">
          <p
            class="leading-relaxed font-sans  text-lg   text-slate-900 helperbird-editor  "
            data- ="true"
            aria-multiline="true"
            data-medium-editor-editor-index="1"
            medium-editor-index="a1a7add3-7191-eef9-3515-60f49a1a0b1b"
          >
            {{ review.review }}
          </p>
        </blockquote>
        <figcaption
          class="relative mt-6 flex items-center justify-between border-t border-slate-100 pt-6"
        >
          <div
            class="helperbird-editor  "
            data- ="true"
            aria-multiline="true"
            data-medium-editor-editor-index="1"
            medium-editor-index="f9c0426d-1368-fc62-2738-1f3c6776e89a"
          >
            <div
              class="font-display text-base text-slate-900 helperbird-editor  "
              data- ="true"
              aria-multiline="true"
              data-medium-editor-editor-index="1"
              medium-editor-index="9fb6f7eb-4695-bf89-dcf6-300bf27701c7"
            >
            {{ review.name }}
            </div>
            <div
              class="mt-1 text-sm text-slate-500 helperbird-editor  "
              data- ="true"
              aria-multiline="true"
              data-medium-editor-editor-index="1"
              medium-editor-index="c7b2fcde-d3ea-00f5-9ccc-702f9346c018"
            >
              {{ review.title }}
            </div>
          </div>
          <div
            class="overflow-hidden rounded-full bg-slate-50 helperbird-editor  "
            data- ="true"
            aria-multiline="true"
            data-medium-editor-editor-index="1"
            medium-editor-index="a5b3d2ad-01e7-01fe-dfca-c63f7c97f727"
          >
            <img
              alt="Photo of Helperbird Pro user {{ review.name }}"
            
              src="{{ review.photo }}"
              width="56"
              height="56"
              decoding="async"
              data-nimg="future"
              class="h-14 w-14 object-cover"
              loading="lazy"
              style="color: transparent"
            />
          </div>
        </figcaption>
      </figure>






{%- endfor -%}





  </div>

</section>

</main>







