---
new: true
header: true
layout: templates/base.html
title: Helperbird tutorials 
youtubeId: PfILiWebkuc
cardTitle:  Helperbird tutorials
description: If you want to learn the best way to use Helperbir, look no further. These short videos will have you mastering all of Helperbird reading, writing and learning tools in no time.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: tutorials/
---


<main class="isolate">

  <div class="px-6 py-24 sm:py-16 lg:px-8 mb-4">
    <div class="mx-auto max-w-3xl text-center">
      <h1 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">
        Helperbird tutorials
      </h1>
      <p class="mt-6 text-2xl leading-8 text-black">
        These short videos will make you a Helperbird master in no time.
      </p>

      <p class="mt-6 text-2xl leading-8 text-black font-bold">
        Remember to check out our
        <a href="https://www.youtube.com/@helperbird" class="text-blue-600 hover:decoration-wavy hover:underline">YouTube channel</a>
        for more videos.
      </p>


      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="#newVideos"
          title="Link to the help guides."
          class="btn btn-secondary border-stone-600 border-2">New videos</a>
        <a
          href="#basicVideos"
          title="Link to the help guides."
          class="btn-base btn-outline btn border-2 border-stone-600">Old videos</a>
      </div>
    </div>
  </div>


  <div class="px-6 py-12 sm:py-16 lg:px-8" id="newVideos">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-2xl font-bold tracking-tight text-black sm:text-4xl">
        New Helperbird videos
      </h2>

    </div>
  </div>


  <div class="grid grid-cols-1 gap-8 xs:grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
    {%- for video in videos.new -%}


      <div class="card rounded-md hover:border-stone-600 hover:border-2 hover:border p-2 border-2">
        <figure class="rounded-md">

          <iframe
            width="560"
            height="230"
            class="rounded-md"
            src="https://www.youtube.com/embed/{{ video.id }}&autoplay=1"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;border-radius:1rem !important;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ video.id }}?autoplay=1><img src=https://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg alt='Enable high contrast mode'><span>▶</span></a>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            title="{{ video.title }}}"></iframe>

        </figure>
        <div class="card-body">
          <a
            class=" text-2xl font-semibold text-center"
            href="{{ video.link }}"
            title="{{ video.title }}">
            {{ video.title }}

          </a>
          <p class="text-lg text-center">{{ video.description }}</p>

        </div>
      </div>


    {%- endfor -%}

  </div>


  <div class="px-6 py-12 sm:py-16 lg:px-8" id="basicVideos">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-2xl font-bold tracking-tight text-black sm:text-4xl">
        Helperbird basics
      </h2>

    </div>
  </div>


  <div class="grid grid-cols-1 gap-8 xs:grid-cols-1 md:grid-cols-3 lg:grid-cols-3" id="basicVideos">
    {%- for video in videos.basics -%}


      <div class="card rounded-md hover:border-stone-600 hover:border-2 hover:border p-2 border-2">
        <figure class="rounded-md">

          <iframe
            width="560"
            height="230"
            class="rounded-md"
            src="https://www.youtube.com/embed/{{ video.id }}&autoplay=1"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;border-radius:1rem !important;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ video.id }}?autoplay=1><img src=https://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg alt='Enable high contrast mode'><span>▶</span></a>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            title="{{ video.title }}}"></iframe>

        </figure>
        <div class="card-body">
          <a
            class=" text-2xl font-semibold text-center"
            href="{{ video.link }}"
            title="{{ video.title }}">
            {{ video.title }}

          </a>
          <p class="text-lg text-center">{{ video.description }}</p>

        </div>
      </div>


    {%- endfor -%}

  </div>


</main>