---
header: true
layout: templates/base.html
title: Release notes for Helperbird
youtubeId: PfILiWebkuc
cardTitle: Release notes for Helperbird 
description: See the latest improvements and fixes in Helperbird version  
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
url: updates/
redirect_from: [/updates/robin/, /updates/102-5-3/, /updates/102-7-0/, /updates/102-7-1/]
---



<div class="bg-black  rounded-xl shadow-md px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class=" leading-relaxed font-sans text-4xl font-bold tracking-tight text-white sm:text-6xl">What's new in Helperbird</h2>
    <p class=" leading-relaxed font-sans mt-6 text-lg text-gray-300">Welcome to 'What's New in Helperbird,' your source for the latest updates. This dynamic change log features new additions, bug fixes, and improvements. Check back often to stay informed!</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        href="https://sharing.clickup.com/l/12ce9x-80/list"
        target="_blank"
        title="Contact sales team."
        class="btn btn-secondary shadow-md">Roadmap</a>
      <a
        href="/pricing/"
        title="Link to Helperbird pricing page."
        class="btn btn-secondary shadow-md">Pricing</a>
    </div>
  </div>
</div>



<div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 sm:pt-16 sm:pb-20  lg:pt-18 lg:px-8">


  {%- for update in updates.new -%}
    <section
      id="{{update.version}}"
      aria-labelledby="{{update.version}}-heading"
      class="md:flex">
      <h2 id="{{ update.version }}-heading" class="leading-relaxed font-sans    pl-7 text-xl  text-black md:w-1/4 md:pl-0 md:pr-12 md:text-right font-bold">
        <a href="#{{update.version}}">Helperbird {{ update.version }}</a>
      </h2>
      <div class="relative pl-7 pt-2 md:w-3/4 md:pl-12 md:pt-0 pb-16">
        <div class="absolute bottom-0 left-0 w-px bg-stone-500 -top-3 md:top-2.5"></div>
        <div class="absolute -left-1 -top-[1.0625rem] h-[0.5625rem] w-[0.5625rem] rounded-full border-2 border-stone-500 bg-white md:top-[0.4375rem]"></div>
        <div class="bg-white rounded-xl shadow-md max-w-none mb-4  leading-6 prose-sm prose prose-slate prose-a:font-semibold prose-a:text-sky-500 hover:prose-a:text-sky-600 helperbird-editor helperbird-editor-highlighter-marker medium-editor-element p-8">


          <div class="mb-4">
            <h3 class="leading-relaxed font-sans    text-xl font-bold mb-4">
              Changes
            </h3>
            {%- for change in update.changes -%}
              <p class="leading-relaxed font-sans  mt-3 text-lg text-black">
                <div class="badge badge-secondary badge-outline mr-2">New</div>
                <strong>{{ change.title }}</strong>
                <br>
                <div style="margin-left: 3.4rem;" class="mt-4">
                  <p class="leading-relaxed font-sanstext-lg">
                    {{ change.description }}
                  </p>
                </div>
              </p>
            {%- endfor -%}
          </div>
          <div class="mb-3 mt-8">
            <h3 class="leading-relaxed font-sans   text-xl font-bold mt-4">
              Fixes
            </h3>
            {%- for fix in update.fixes -%}
              <p class="leading-relaxed font-sans  mt-3 text-lg text-black">
                <div class="badge badge-primary badge-outline mr-2">Fix</div>
                <strong>{{ fix.title }}</strong><br>
                <br>
                <div style="margin-left: 3.4rem;" class="mt-4">
                  <p class="leading-relaxed font-sanstext-lg">
                    {{ fix.description }}
                  </p>
                </div>
              </p>
            {%- endfor -%}
          </div>
          {%- if update.upcoming -%}
            <div class="mb-3 mt-8">
              <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl font-bold mt-4">
                Upcoming
              </h3>
              {%- for upcoming in update.upcoming -%}
                <p class="leading-relaxed font-sans  mt-3 text-lg text-black">
                  <div class="badge badge-warning badge-outline mr-2">Upcoming</div>
                  <strong>{{ upcoming.title }}</strong>
                  <br>
                  <div style="margin-left: 3.4rem;" class="mt-4">
                    <p class="leading-relaxed font-sanstext-lg">
                      {{ upcoming.description }}
                    </p>
                  </div>
                </p>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </section>
  {%- endfor -%}



</div>