---
footer: true
header: true
layout: templates/base.html
title: What’s new in Helperbird
youtubeId: vwT8SAJfU3E
cardTitle: What’s new in Helperbird
description: Discover the latest enhancements and fixes in Helperbird! Stay in the loop with our most recent version updates, continuously improving your experience with new features and optimizations.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
url: updates/
redirect_from: [/updates/robin/, /updates/102-5-3/, /updates/102-7-0/, /updates/102-7-1/]
---



<div class="px-6 py-20 sm:py-16 lg:px-4 mb-4">
  <div class="mx-auto max-w-4xl text-center">
    <h2 class="leading-relaxed font-sans text-4xl font-bold text-black sm:text-6xl">What’s new in Helperbird</h2>
    <p class="leading-relaxed font-sans mt-6 text-2xl text-black">
      Stay up-to-date with the latest Helperbird developments right here.
    </p>
  </div>
</div>

















<div class="max-w-7xl mx-auto p-4 py-12 sm:p-6 sm:pt-16 sm:pb-20 lg:pt-18 lg:p-8">
  {%- for update in updates.new -%}
    <section id="{{ update.version }}" aria-labelledby="{{ update.version }}-heading" class="md:flex mb-24 mt-12">
      <div id="{{ update.version }}-heading" class=" md:w-1/4 md:pr-12  mb-4 md:mb-0">
      

      <h2 class="text-xl font-bold text-black mb-4">Version:  <a class="badge badge-secondary ml-2" href="#{{ update.version }}" title="Learn more about Helperbird version {{ update.version }} updates and features">
       
      {{ update.version }}

       </a></h2>
     

       <h2 class="text-xl font-bold text-black">Release Date:  

       <span class="badge badge-primary ml-2">{{ update.version }}</span>
      </h2>
        

      </div>
      
      <div class="relative md:w-3/4">
        <div class="bg-white rounded-xl shadow-md p-6 mb-6">
          {%- if update.changes and update.changes.size > 0 -%}
          <div>
            <h3 class="text-2xl font-bold mb-8">Changes</h3>
            {%- for change in update.changes -%}
              <div class="mt-4 mb-6 text-lg text-black flex items-start">
                <span class="badge badge-secondary mr-2">New</span>
                <div class="ml-4">
                  <span class="font-semibold">{{ change.title }}</span>
                  <p class="mt-1 text-base">{{ change.description }}</p>
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

          {%- if update.fixes and update.fixes.size > 0 -%}
            <div class="mt-16">
              <h3 class="text-2xl font-bold mb-8">Fixes</h3>
              {%- for fix in update.fixes -%}
                <div class="mt-4 mb-6 text-lg text-black flex items-start">
                  <span class="badge badge-primary mr-2">Fix</span>
                  <div class="ml-4">
                    <span class="font-semibold">{{ fix.title }}</span>
                    <p class="mt-1 text-base">{{ fix.description }}</p>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
          
          {%- if update.upcoming and update.upcoming.size > 0 -%}
            <div class="mt-8">
              <h3 class="text-2xl font-bold mb-8">Upcoming</h3>
              {%- for upcoming in update.upcoming -%}
                <div class="mt-4 mb-6 text-lg text-black flex items-start">
                  <span class="badge badge-warning mr-2">Upcoming</span>
                  <div class="ml-4">
                    <span class="font-semibold">{{ upcoming.title }}</span>
                    <p class="mt-1 text-base">{{ upcoming.description }}</p>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </section>
  {%- endfor -%}
</div>
