---
header: true
layout: templates/base.html
title: Release notes for Helperbird
youtubeId: PfILiWebkuc
cardTitle: Release notes for Helperbird 
description: See the latest improvements and fixes in Helperbird version  
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
url: updates/
redirect_from: [/updates/robin/, /updates/102-5-3/, /updates/102-7-0/, /updates/102-7-1/]
---


<div class="px-6 py-24 sm:py-16 lg:px-8 mb-4">
  <div class="mx-auto max-w-3xl text-center">
    <h1 class="leading-relaxed font-sans  leading-relaxed font-sans  text-4xl font-bold   text-black sm:text-6xl">
      Latest updates
    </h1>
    <p class="leading-relaxed font-sans  mt-6 text-2xl leading-8 text-black">

      See changes and improvements from current and past versions of Helperbird.
    </p>

    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        href="https://sharing.clickup.com/l/12ce9x-80/list"
        target="_blank"
        title="Contact sales team."
        class="btn btn-secondary border-stone-600 border-2">Roadmap</a>
      <a
        href="/pricing/"
        title="Link to Helperbird pricing page."
        class="btn-base btn-outline btn border-2 border-stone-600">Pricing</a>
    </div>
  </div>
</div>


<div>
  <div class="max-w-3xl mx-auto px-4 py-12 sm:px-6 sm:pt-16 sm:pb-20  lg:pt-18 lg:px-8">


    <div class="mt-12 mx-auto">
      {%- for update in updates.new -%}
        <div class="flex flex-col shadow-lg overflow-hidden border-2 border-stone-600 bg-white p-8 rounded-3xl mt-8">
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <div class="mb-8">
                <h2 class="leading-relaxed font-sans  leading-relaxed font-sans  text-2xl font-semibold text-gray-900">
                  Helperbird {{ update.version }}
                </h2>
              </div>
              <div class="mb-3 mt-8">
                <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl font-bold mb-4">
                  Changes
                </h3>
                {%- for change in update.changes -%}
                  <p class="leading-relaxed font-sans  mt-3 text-base text-black">
                    <div class="badge badge-secondary badge-outline mr-2">New</div>
                    <strong>{{ change.title }}</strong>
                    <br>
                    <div style="
                                                                                            margin-left: 3.4rem;
                                                                                        ">
                      {{ change.description }}
                    </div>
                  </p>
                {%- endfor -%}
              </div>
              <div class="mb-3 mt-8">
                <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl font-bold mt-4">
                  Fixes
                </h3>
                {%- for fix in update.fixes -%}
                  <p class="leading-relaxed font-sans  mt-3 text-base text-black">
                    <div class="badge badge-primary badge-outline mr-2">Fix</div>
                    <strong>{{ fix.title }}</strong><br>
                    <br>
                    <div style="
                                                                                            margin-left: 3.4rem;
                                                                                        ">
                      {{ fix.description }}
                    </div>
                  </p>
                {%- endfor -%}
              </div>
              {%- if update.upcoming -%}
                <div class="mb-3 mt-8">
                  <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl font-bold mt-4">
                    Upcoming
                  </h3>
                  {%- for upcoming in update.upcoming -%}
                    <p class="leading-relaxed font-sans  mt-3 text-base text-black">
                      <div class="badge badge-warning badge-outline mr-2">Upcoming</div>
                      <strong>{{ upcoming.title }}</strong>
                      <br>
                      <div style="
                                                                                                margin-left: 3.4rem;
                                                                                            ">
                        {{ upcoming.description }}
                      </div>
                    </p>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>

  </div>
</div>