mixin blog_title(text)
    h1.heading.primary-color.launchaco-builder-hoverable= text

mixin blog_description(text)
    h3.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable= text

mixin blog_paragraph_title(text)
    h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.black(style="padding-bottom: 20px;")= text

mixin blog_paragraph(text)
    p.paragraph_features= text

mixin blog_button(text,link)
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.button-signup_two.text-center(href= link, target='_blank')
        span= text

mixin blog_image(altText,imageUrl)
    img.launchaco-builder-hoverable.width_100.mb75(alt= altText, loading="lazy", src= imageUrl)


mixin home_page_blog_list(text, link, description, group, imageUrl,author="Robert James", date="March 20t 2021", length="7min")
    .flex.flex-col.rounded-lg.shadow-lg.overflow-hidden
        .flex-shrink-0
            img.h-48.w-full.object-cover(src= imageUrl alt='')
        .flex-1.bg-white.p-6.flex.flex-col.justify-between
            .flex-1
                p.text-sm.font-medium.text-indigo-600
                    a(href= link class='hover:underline')=  group
                a.block.mt-2(href='#')
                    p.text-xl.font-semibold.text-gray-900= text
                    p.mt-3.text-base.text-gray-500= description
            .mt-6.flex.items-center
                .flex-shrink-0
                    a(href='#')
                        span.sr-only= author
                        img.h-10.w-10.rounded-full(src='/assets/images/pwa/logo/full.png' alt='')
                .ml-3
                    p.text-sm.font-medium.text-gray-900
                        a(href= link class='hover:underline')= author
                    .flex.space-x-1.text-sm.text-gray-500
                        time(datetime='2020-03-16')= date
                        span(aria-hidden='true')
                            | &middot;
                        span=  length

