mixin blog_title(text)
    h1.heading.primary-color.launchaco-builder-hoverable= text

mixin compare_title(feature_type = 'Helperbird feature',text)
    .relative
        .mt-16.mx-auto.max-w-7xl.px-4(class='sm:mt-24 sm:px-6')
            .text-center
                h1.text-4xl.tracking-tight.font-extrabold.text-gray-900(class='sm:text-5xl md:text-6xl')
                    span.block= feature_type 
                p.mt-3.max-w-md.mx-auto.text-base.text-gray-500(class='sm:text-lg md:mt-5 md:text-xl md:max-w-3xl')= text
                .mt-5(class='sm:mt-8 sm:flex justify-center lg:justify-center')
                    .rounded-md.shadow
                        a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href='#' class='hover:bg-indigo-700 md:py-4 md:text-lg md:px-10')
                            | Get started
                    .mt-3(class='sm:mt-0 sm:ml-3')
                        a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-indigo-700.bg-indigo-100(href='#' class='hover:bg-indigo-200 md:py-4 md:text-lg md:px-10')
                            | Live demo


mixin  image_showoff(default_image = 'https://tailwindui.com/img/component-images/top-nav-with-multi-column-layout-screenshot.jpg' )
  .relative.mt-8
    .absolute.inset-0.flex.flex-col(aria-hidden='true')
      .flex-1
      .flex-1.w-full.bg-gray-800
    .max-w-7xl.mx-auto.px-4(class='sm:px-6')
      img.relative.rounded-lg.shadow-lg(src= default_image alt='App screenshot')
  .bg-gray-800
    .max-w-7xl.mx-auto.py-16.px-4(class='sm:py-24 sm:px-6 lg:px-8')
      h2.text-center.text-gray-400.text-sm.font-semibold.uppercase.tracking-wide Trusted by over 26,000 forward-thinking companies
      .mt-8.grid.grid-cols-2.gap-8(class='md:grid-cols-6 lg:grid-cols-5')
        .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
          img.h-12(src='https://tailwindui.com/img/logos/tuple-logo-gray-400.svg' alt='Tuple')
        .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
          img.h-12(src='https://tailwindui.com/img/logos/mirage-logo-gray-400.svg' alt='Mirage')
        .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
          img.h-12(src='https://tailwindui.com/img/logos/statickit-logo-gray-400.svg' alt='StaticKit')
        .col-span-1.flex.justify-center(class='md:col-span-3 lg:col-span-1')
          img.h-12(src='https://tailwindui.com/img/logos/transistor-logo-gray-400.svg' alt='Transistor')
        .col-span-2.flex.justify-center(class='md:col-span-3 lg:col-span-1')
          img.h-12(src='https://tailwindui.com/img/logos/workcation-logo-gray-400.svg' alt='Workcation')





mixin blog_description(text)
    h3.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable= text

mixin blog_paragraph_title(text)
    h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.black= text

mixin blog_paragraph(text)
    p.paragraph_features= text

mixin blog_button(text,link)
    p.paragraph_features= text
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.button-signup_two.text-center(href= link, target='_blank')
        span= text

mixin blog_image(altText,imageUrl)
    img.launchaco-builder-hoverable.width_100.mb75(alt= altText, loading="lazy", src= imageUrl)


mixin home_page_blog_list(text, link, description, group, imageUrl)

    li.blog_list_item
        a.blog_list_item_link(href= link , title= text)
            div.blog_list_item_image.mb20(style="background: url('" + imageUrl + "') no-repeat center center; background-size: cover;")
            h4.blog_list_item_title= text
            p.blog_list_item_paragraph.truncate-overflow= description
        div.blog_list_item_footer
            p.blog_list_item_footer_left=  group
