



mixin features_title(feature_type = 'Helperbird feature',text, image = "/images/new/dyslexia-font/dyslexia-font.png")


  .relative.pt-6.pb-6(class='sm:pb-11')
    .mt-16.mx-auto.max-w-7xl.px-4(class='sm:mt-24 sm:px-6')
      .text-center
        h1.text-4xl.tracking-tight.font-extrabold.text-gray-900(class='sm:text-4xl md:text-4xl')
          span.block= feature_type
        p.mt-3.max-w-md.mx-auto.text-base.text-gray-500(class='sm:text-lg md:mt-5 md:text-xl md:max-w-3xl')= text

        .mt-10(class='flex justify-center')
          .rounded-md.shadow
            a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href='/pricing' class='hover:bg-indigo-700 md:py-4 md:px-10')
              | Try for Free
        .mt-10(class='flex justify-center')
          .rounded-md.shadow
            a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md(href='#learnMore' class='hover:bg-indigo-200 md:py-4 md:px-10')
              | Learn More Below


  .relative
    .absolute.inset-0.flex.flex-col(aria-hidden='true')
      .flex-1
    .max-w-4xl.mx-auto.px-4(class='sm:px-6')
      img.relative.rounded-lg.shadow-lg(src= image alt='App screenshot')


mixin  image_(default_image = '/assets/images/new/immersive-reader-for-chrome/immersive-reader-for-chrome.png' )

  .relative
    .absolute.inset-0.flex.flex-col(aria-hidden='true')
      .flex-1
    .max-w-4xl.mx-auto.px-4(class='sm:px-6')
      img.relative.rounded-lg.shadow-lg(src= default_image alt='App screenshot')



mixin  image_showoff(default_image = '/assets/images/new/immersive-reader-for-chrome/immersive-reader-for-chrome.png' )


  div(class='sm:mx-auto sm:max-w-3xl sm:px-6')
    .py-12(class='sm:relative sm:mt-12 sm:py-11 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2')
      .hidden(class='sm:block')
        svg.absolute.top-8.-mr-3(class='right-1/2 lg:m-0 lg:left-0' width='404' height='392' fill='none' viewbox='0 0 404 392')
          defs
            pattern#837c3e70-6c3a-44e6-8854-cc48c737b659(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
              rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
          rect(width='404' height='392' fill='url(#837c3e70-6c3a-44e6-8854-cc48c737b659)')
      .relative.-mr-40(class='pl-4 sm:pl-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:pl-12')
        img.relative.rounded-lg.rounded-md.ring-0.ring-black.ring-opacity-100(src= default_image alt='App screenshot')
        
        
mixin  video_showoff(default_video = 'u67t7Ap61Nc' )


  .relative
    .absolute.inset-0.flex.flex-col(aria-hidden='true')
      .flex-1
      .flex-1.w-full.bg-gray-800
    .max-w-7xl.mx-auto.px-4(class='sm:px-6')
      .w-full.rounded-lg.youtube_lazy_load.rounded-md.ring-0.ring-black.ring-opacity-100.rounded-lg.shadow-lg(data-embed= default_video) 
        .play-button



mixin  video_support(default_video = 'u67t7Ap61Nc' )


  div(class='sm:mx-auto sm:max-w-3xl sm:px-6')#support_video
    .relative.-mr-40(class='pl-4 sm:pl-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:pl-12')
      .w-full.rounded-lg.youtube_lazy_load.rounded-md.ring-0.ring-black.ring-opacity-100(data-embed= default_video) 
        .play-button



mixin section(title, features,buttons=false)

  .py-11.overflow-hidden
    .max-w-7xl.mx-auto.px-4.space-y-8(class='sm:px-6 lg:px-8')
      .text-base.mx-auto
        h2.text-base.text-indigo-600.font-semibold.tracking-wide.uppercase 
        p.mt-2.text-3xl.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl')= title
      .text-base.mx-auto

        each val in features
          p.text-lg.text-gray-500= val

      div(class='lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start')
        .relative.z-10

          if button = false
            .mt-10.flex.text-base.mx-auto(class='lg:max-w-none')
              .rounded-md.shadow
                a.w-full.flex.items-center.justify-center.px-5.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href='/sales' class='hover:bg-indigo-700')
                  | Contact sales
              .rounded-md.shadow.ml-4
                a.w-full.flex.items-center.justify-center.px-5.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-indigo-600.bg-white(href='/features' class='hover:bg-gray-50')
                  | Learn more




       
                
        .mt-12.relative.text-base.max-w-prose.mx-auto(class='lg:mt-0 lg:max-w-none')
          svg.absolute.top-0.right-0.-mt-20.-mr-20(class='lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20' width='404' height='384' fill='none' viewbox='0 0 404 384' aria-hidden='true')
            defs
              pattern#bedc54bc-7371-44a2-a2bc-dc68d819ae60(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='384' fill='url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)')





mixin list(title, features,buttons=false)

  .py-11.overflow-hidden
    .max-w-7xl.mx-auto.px-4.space-y-8(class='sm:px-6 lg:px-8')
      .text-base.mx-auto
        h2.text-base.text-indigo-600.font-semibold.tracking-wide.uppercase 
        p.mt-2.text-3xl.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl')= title
      .text-base.mx-auto
        ul
        each val in features
          li.text-lg.text-gray-500= val

      div(class='lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start')

       
                
        .mt-12.relative.text-base.max-w-prose.mx-auto(class='lg:mt-0 lg:max-w-none')
          svg.absolute.top-0.right-0.-mt-20.-mr-20(class='lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20' width='404' height='384' fill='none' viewbox='0 0 404 384' aria-hidden='true')
            defs
              pattern#bedc54bc-7371-44a2-a2bc-dc68d819ae60(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='384' fill='url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)')

