mixin support_title(text,feature_type = 'Helperbird feature')

  .text-lg.max-w-prose.mx-auto
    h1
      span.block.text-base.text-center.text-indigo-600.font-semibold.tracking-wide.uppercase Guide
      span.mt-2.block.text-3xl.text-center.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl')= text
    p.mt-8.text-xl.text-gray-500.leading-8= feature_type


mixin support_description(text)
  h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text= text




mixin  watch_it_in_action(video = 'aXXRSenvTTg' )

  .section.lightblue-white.mb80
    .container-lrg
      .col-12
        h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40 See how it works
    .container-lrg.flex
      .flex.flex-column.col-12.text-center
        .launchaco-builder-hoverable
          .scroller_video_home.mb20
            .scroller_video_item_home_page
              .youtube_lazy_load(data-embed= video)
                .play-button.


mixin  video_showoff(video = 'aXXRSenvTTg' )


  .container-md.flex
    .flex.flex-column.col-12.text-center
      .scroller_video_home.mb20
        .scroller_video_item_home_page
          .youtube_lazy_load(data-embed= video)
            .play-button
            img(, alt='Helperbird support feature')

mixin  compare(before, after)
  .container-md.flex.slider-show
    .flex.flex-column.col-12.text-center
      .browser.mt40.launchaco-builder-hoverable
        .mask.mask__noimage
          .img-comp-container
            .img-comp-img
              img(src= after, loading='lazy', alt='Before Helperbird', width='760', height='441')
            .img-comp-img.img-comp-overlay
              img(src= before, loading='lazy', alt='After Helperbird', width='760', height='441')        



mixin  section(title, features,videoLink)
  .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto
    h3= title
    ul
      each val in features
        li= val

    if videoLink
      .w-full.rounded-lg.youtube_lazy_load(data-embed= videoLink) 
        .play-button
        img(src='https://img.youtube.com/vi/aXXRSenvTTg/sddefault.jpg', alt='Helperbird support feature')





mixin  upsell(title, text, button)
  .section.lightblue-white.mb80
    .container-lrg
      .col-12
        h3.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000')= title

        h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text= text
        a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.accent-bg.fill-white.primary-color.cta-button.float-left(href='/pricing')
          span= button




mixin support_paragraph_title(text)
  h3.heading-sml.primary-color.launchaco-builder-hoverable.black= text

mixin support_paragraph(text)
  p.paragraph_features= text

mixin support_button(text,link)
  .mt-10.mb-10(class='sm:flex sm:justify-center ')
    .rounded-md.shadow
      a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href= link, target='_blank' class='hover:bg-indigo-700 md:py-4 md:text-lg md:px-10')
        | #{text}


mixin support_image(altText,imageUrl)
  figure.prose.prose-indigo.prose-lg.mx-auto
    img.prose.prose-indigo.prose-lg.rounded-lg(src= imageUrl alt= altText,loading="lazy")
    figcaption.text-center= altText

mixin home_page_support_list(text, link, description, group, imageUrl)

  li.support_list_item
    a.support_list_item_link(href= link , title= text)
      div.support_list_item_image.mb20(style="background: url('" + imageUrl + "') no-repeat center center; background-size: cover;")
      h4.support_list_item_title= text
      p.support_list_item_paragraph.truncate-overflow= description
    div.support_list_item_footer
      p.support_list_item_footer_left=  group

mixin buttons(altText,imageUrl)
  img.launchaco-builder-hoverable.width_100.mb75(alt= altText, loading="lazy", src= imageUrl)
